<h1><%= @user.name %>'s Page</h1>

<ul>
<% @user.recipes.each do |recipe| %>
<li><%= link_to recipe.name %></li><br>
<% end %>
</ul>


<div> 
<%= link_to "Delete User #{@user.name}" , user_path(@user) , method: :delete %>
</div>  

<div> 
<%= link_to "Return to User Index" , users_path %>
</div> 
